/****** SSMS 中 SelectTopNRows 命令的指令碼  ******/
SELECT TOP 20 [日期]
      ,[權證代號]
      ,[權證名稱]
      ,[券商代號]
      ,[券商名稱]
      ,[發行商]
      ,[張增減]
      ,[金額增減(千)]
      ,[買張]
      ,[賣張]
      ,[買金額(千)]
      ,[賣金額(千)]
	  ,[買金額(千)]-[賣金額(千)] as [淨買金額(千)]
      ,[買筆數]
      ,[賣筆數]
      ,[買均張]
      ,[賣均張]
      ,[買均價]
      ,[賣均價]
      ,[買均值(千)]
      ,[賣均值(千)]
      ,[庫存張數]
  FROM [warrant].[dbo].[BranchBSData]
  where 日期 = '20171005' and 權證代號 = '3508'
  order by [淨買金額(千)] desc